
:root {
    --title-text-color: #434455;
    --primary-text-color: #2e2f42;
    --button-color: #4d5ae5;
    --white-back: #ffffff;
    --background-buttton: #404bbf;
    --back-team: #f4f4fd;
    --footer-text: #E7E9FC;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
}

/*------------------------HEAD--------------------------*/

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.adress {
    font-style: normal;
}


.head {
    
}


.web-logo {
    font-family: 'Raleway', sans-serif;
    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
}


.studio-logo {
    color: var(--primary-text-color);
}


.head-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.head-nav-item:hover,
.head-nav-item:focus {
    color: var(--background-buttton);
}

    
.head-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color)
}
.head-contacts:hover,
.head-contacts:focus {
    color: var(--background-buttton)
}


/*------------------------MAIN--------------------------*/


.main {
    background-color:var(--primary-text-color);;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-back);
}


.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-back);
    background-color: var(--button-color);
}



.main-section-topic {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: var(--primary-text-color);
}


.section-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}


.photos-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.team {
    background-color: var(--back-team);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}


.section-ul {
    list-style: none;
}


/*------------------------FOOTER--------------------------*/


.footer {
    background-color: var(--primary-text-color);;
}

.footer-web-logo {

    font-family: "Raleway", sans-serif;
    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--button-color);
}


.footer-studio-logo {
    color:  var(--back-team);
}


.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text);
}


/*------------------------PORTFOLIO--------------------------*/

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    
    
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-color);
}

.filter-btn:focus,
.filter-btn:hover {
    color: var(--white-back);
    background-color: var(--background-buttton);
}

.portfolio-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}